@use "../../utils/variables" as *;

.blog-post-latest {
  overflow: hidden;

  &__container {
    padding-right: 0;
    padding-block: 82px 24px;

    @media screen and (min-width: $bp-768) {
      padding-block: 104px 24px;
    }

    @media screen and (min-width: $bp-1024) {
      padding-block: 126px 24px;
    }

    @media screen and (min-width: $bp-1440) {
      padding-block: 86px 24px;
    }
  }

  &__main {
    @media screen and (min-width: $bp-768) {
      padding-left: 76px;
    }

    @media screen and (min-width: $bp-1024) {
      padding-left: 104px;
    }

    @media screen and (min-width: $bp-1440) {
      padding-left: 138px;
    }
  }

  &__title {
    margin-bottom: 40px;
    font-weight: 700;
    font-size: 26px;
    color: $color-black;

    @media screen and (min-width: $bp-768) {
      margin-bottom: 54px;
      font-size: 32px;
    }

    @media screen and (min-width: $bp-1440) {
      font-size: 36px;
      margin-bottom: 72px;
    }

    &_mobile {
      @media screen and (min-width: $bp-768) {
        display: none;
      }
    }

    &_tablet {
      display: none;

      @media screen and (min-width: $bp-768) {
        display: inline-block;
      }
    }
  }

  &__slider {
    overflow: visible;
  }

  &__slide {
    flex-shrink: 0;
    max-width: 290px;

    @media screen and (min-width: $bp-768) {
      max-width: 366px;
    }

    @media screen and (min-width: $bp-1024) {
      max-width: 293px;
    }

    @media screen and (min-width: $bp-1440) {
      max-width: 316px;
    }

    @media screen and (min-width: $bp-1920) {
      max-width: 336px;
    }
  }

  &__card {
    display: block;
  }

  &__picture {
    display: block;
  }

  &__image {
    display: block;
    width: 100%;
    height: auto;
  }

  &__card-title {
    max-width: 290px;
    margin-top: 24px;
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.3716;
    color: $color-btn;

    @media screen and (min-width: $bp-768) {
      max-width: 290px;
    }
  }

  &__footer {
    margin-top: 75px;

    @media screen and (min-width: $bp-768) {
      display: flex;
      justify-content: space-between;
      padding-right: 48px;
      margin-top: 100px;
    }

    @media screen and (min-width: $bp-1024) {
      margin-top: 124px;
    }

    @media screen and (min-width: $bp-1440) {
      margin-top: 138px;
    }
  }

  &__copyright {
    margin-bottom: 10px;
    font-weight: 300;
    font-size: 12px;
    line-height: 1.52375;
    color: $color-gray;
  }

  &__brand {
    display: flex;
    gap: 28px;
    transform: translateX(5px);

    @media screen and (min-width: $bp-768) {
      transform: translateX(-1px) translateY(-7px);
    }

    @media screen and (min-width: $bp-1024) {
      transform: translateX(-10px) translateY(0);
    }
  }

  &__brand-text {
    font-weight: 300;
    font-size: 12px;
    line-height: 1.52375;
    color: $color-gray;
  }

  &__brand-icon {
    @media screen and (min-width: $bp-768) {
      width: 84px;
      height: 26px;
    }
  }
}
