@use "../../utils/variables" as *;

.blog-post-latest {
  &__container {
    padding-right: 0;
    padding-block: 82px 24px;

    @media screen and (min-width: $bp-768) {
      padding-block: 104px 24px;
    }
  }

  &__inner {
  }

  &__main {
    @media screen and (min-width: $bp-768) {
      padding-left: 76px;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 26px;
    color: $color-black;
    margin-bottom: 40px;

    @media screen and (min-width: $bp-768) {
      font-size: 32px;
      margin-bottom: 54px;
    }

    &_mobile {
      @media screen and (min-width: $bp-768) {
        display: none;
      }
    }

    &_tablet {
      display: none;
      @media screen and (min-width: $bp-768) {
        display: inline-block;
      }
    }
  }

  &__slider {
    overflow: hidden;
  }

  &__wrapper {
    display: flex;
  }

  &__slide {
    flex-shrink: 0;
    max-width: 290px;

    @media screen and (min-width: $bp-768) {
      max-width: 366px;
    }
  }

  &__card {
  }

  &__picture {
  }

  &__image {
    display: block;
    width: 100%;
    height: auto;
  }

  &__content {
  }

  &__card-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.3716;
    color: $color-btn;
    margin-top: 24px;
    max-width: 290px;
    margin-bottom: 16px;
  }

  &__card-text {
  }

  &__footer {
    margin-top: 75px;

    @media screen and (min-width: $bp-768) {
      display: flex;
      justify-content: space-between;
      padding-right: 48px;
      margin-top: 100px;
    }
  }

  &__copyright {
    font-weight: 300;
    font-size: 12px;
    line-height: 1.52375;
    color: $color-gray;
    margin-bottom: 10px;
  }

  &__brand {
    display: flex;
    gap: 28px;
    transform: translateX(5px);

    @media screen and (min-width: $bp-768) {
      transform: translateX(-1px) translateY(-7px);
    }
  }

  &__brand-text {
    font-weight: 300;
    font-size: 12px;
    line-height: 1.52375;
    color: $color-gray;
  }

  &__brand-icon {
    @media screen and (min-width: $bp-768) {
      width: 84px;
      height: 26px;
    }
  }
}

.swiper {
}

.js-blog-post-latest-swiper {
}

.swiper-wrapper {
}

.swiper-slide {
}
