@use "../utils/variables" as *;

.footer {
  .container {
  }

  &-container {
    background-color: $color-dark;
    color: $color-bg;
  }

  &__inner {
  }

  &__content {
    padding: 56px 0 0;

    @media screen and (min-width: $bp-768) {
      padding: 90px 76px 0;
    }

    @media screen and (min-width: $bp-1024) {
      padding: 106px 104px 0;
    }

    @media screen and (min-width: $bp-1440) {
      padding: 120px 130px 0;
    }
  }

  &__title_desctop {
    display: none;

    @media screen and (min-width: $bp-1440) {
      display: block;
    }
  }

  @media screen and (min-width: $bp-1440) {
    &__title_tablet {
      display: none;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 26px;
    margin-bottom: 24px;

    @media screen and (min-width: $bp-768) {
      font-size: 32px;
    }

    @media screen and (min-width: $bp-1440) {
      font-size: 36px;
    }
  }

  &__text {
    font-weight: 300;
    font-size: 14px;
    line-height: 1.7066;
    opacity: 0.6;
    max-width: 286px;
    margin-bottom: 32px;

    @media screen and (min-width: $bp-768) {
      max-width: 390px;
      margin-bottom: 42px;
    }

    @media screen and (min-width: $bp-1024) {
      margin-bottom: 48px;
    }

    @media screen and (min-width: $bp-1440) {
      margin-bottom: 52px;
    }
  }

  &__locations {
    display: flex;
    flex-wrap: wrap;
    column-gap: 52px;
    row-gap: 34px;
    margin-bottom: 40px;

    @media screen and (min-width: $bp-768) {
      column-gap: 46px;
      margin-bottom: 52px;

      .footer__location:nth-child(3) {
        margin-left: 28px;
      }
    }

    @media screen and (min-width: $bp-1024) {
      column-gap: 50px;
      margin-bottom: 64px;
      flex-wrap: nowrap;
      flex-shrink: 0;

      .footer__location:nth-child(3) {
        margin-left: 28px;
      }
    }

    @media screen and (min-width: $bp-1440) {
      column-gap: 115px;
      margin-bottom: 72px;

      .footer__location:nth-child(3) {
        margin-left: 25px;
      }
    }
  }

  &__location {
    &_full {
    }
  }

  &__city {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.36528;
    margin-bottom: 14px;

    @media screen and (min-width: $bp-768) {
      margin-bottom: 24px;
    }

    @media screen and (min-width: $bp-1024) {
      margin-bottom: 20px;
    }
  }

  &__link {
  }

  &__address {
    font-weight: 300;
    font-size: 11px;
    letter-spacing: 0.06em;
    line-height: 1.7;
  }

  &__contacts-wrap {
    @media screen and (min-width: $bp-768) {
      display: flex;
      gap: 183px;
    }
  }

  &__contacts {
    @media screen and (min-width: $bp-768) {
      order: 2;
    }
  }

  &__mail {
    font-weight: 600;
    font-size: 11px;
    letter-spacing: 0.06em;
    display: inline-block;
    margin-bottom: 12px;

    @media screen and (min-width: $bp-1024) {
      margin-bottom: 21px;
    }
  }

  &__socials {
    display: flex;
    gap: 17px;
    margin-bottom: 46px;
  }

  &__social-item {
  }

  &__social-link {
    font-weight: 600;
    font-size: 11px;
    letter-spacing: 0.06em;
  }

  &__action {
  }

  &__button {
    font-weight: 600;
    font-size: 11px;
    letter-spacing: 0.06em;
    text-align: center;
    color: $color-dark;
    background-color: $color-bg;
    padding: 14px 50px;
    margin-bottom: 56px;

    @media screen and (min-width: $bp-768) {
      margin-bottom: 99px;
    }

    @media screen and (min-width: $bp-1024) {
      margin-bottom: 118px;
    }

    @media screen and (min-width: $bp-1440) {
      margin-bottom: 126px;
    }
  }

  &__bottom {
    padding-bottom: 24px;

    @media screen and (min-width: $bp-768) {
      display: flex;
      justify-content: space-between;
    }

    @media screen and (min-width: $bp-1024) {
      padding-bottom: 32px;
    }

    @media screen and (min-width: $bp-1440) {
      padding-bottom: 26px;
    }
  }

  &__copy {
    font-weight: 300;
    font-size: 12px;
    line-height: 1.52375;
    color: #828282;
    margin-bottom: 14px;
  }

  &__made {
    display: flex;
    gap: 20px;
    margin-left: 5px;

    @media screen and (min-width: $bp-1440) {
      gap: 10px;
    }
  }

  &__made-text {
    font-weight: 300;
    font-size: 12px;
    line-height: 1.52375;
    color: #828282;
  }

  &__brand {
    display: block;
    width: 94px;
    height: 23px;
    color: #fff;
    fill: currentColor;
    flex-shrink: 0;
    transform: translateY(-5px);

    @media screen and (min-width: $bp-1440) {
      transform: translateX(6px) translateY(0px);
    }
  }
}

@media screen and (min-width: $bp-1024) {
  .footer__info {
    display: flex;
    gap: 107px;
  }
}

@media screen and (min-width: $bp-1440) {
  .footer__info {
    gap: 326px;
  }
}
