@use "../utils/variables" as *;

.footer {
  &-container {
    color: $color-bg;
    background:
      radial-gradient(
        50% 50% at 50% 50%,
        rgba(15, 15, 15, 0.72) 0%,
        rgba(8, 8, 8, 0.9) 100%
      ),
      url("../../assets/images/footer/footer_background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  &__content {
    padding: 56px 0 0;

    @media screen and (min-width: $bp-768) {
      padding: 90px 76px 0;
    }

    @media screen and (min-width: $bp-1024) {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      padding: 106px 104px 0;
    }

    @media screen and (min-width: $bp-1440) {
      padding: 120px 130px 0;
    }
  }

  &__top {
    @media screen and (min-width: $bp-1024) {
      width: 100%;
    }
  }

  &__title_mobile {
    @media screen and (min-width: $bp-1440) {
      display: none;
    }
  }

  &__title_desctop {
    display: none;

    @media screen and (min-width: $bp-1440) {
      display: block;
    }
  }

  &__title {
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 26px;

    @media screen and (min-width: $bp-768) {
      font-size: 32px;
    }

    @media screen and (min-width: $bp-1440) {
      margin-bottom: 18px;
      font-size: 36px;
    }
  }

  &__text {
    max-width: 286px;
    margin-bottom: 32px;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.7066;
    opacity: 0.6;

    @media screen and (min-width: $bp-768) {
      max-width: 390px;
      margin-bottom: 42px;
    }

    @media screen and (min-width: $bp-1024) {
      margin-bottom: 48px;
    }

    @media screen and (min-width: $bp-1440) {
      margin-bottom: 58px;
    }
  }

  &__locations {
    display: flex;
    flex-wrap: wrap;
    column-gap: 52px;
    row-gap: 34px;
    margin-bottom: 40px;

    @media screen and (min-width: $bp-768) {
      column-gap: 46px;
      margin-bottom: 52px;

      .footer__location:nth-child(3) {
        margin-left: 28px;
      }
    }

    @media screen and (min-width: $bp-1024) {
      flex: 1;
      column-gap: 50px;
      margin-right: 50px;
      margin-bottom: 64px;

      .footer__location:nth-child(3) {
        margin-left: 28px;
      }
    }

    @media screen and (min-width: $bp-1440) {
      column-gap: 115px;
      margin-bottom: 72px;

      .footer__location:nth-child(3) {
        margin-left: 24px;
      }
    }
  }

  &__city {
    margin-bottom: 14px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.36528;

    @media screen and (min-width: $bp-768) {
      margin-bottom: 20px;
    }
  }

  &__address {
    font-weight: 300;
    font-size: 11px;
    line-height: 1.7;
    letter-spacing: 0.06em;
  }

  &__contacts-wrap {
    @media screen and (min-width: $bp-768) {
      display: flex;
      gap: 183px;
    }

    @media screen and (min-width: $bp-1024) {
      display: contents;
    }
  }

  &__contacts {
    @media screen and (min-width: $bp-768) {
      order: 2;
    }

    @media screen and (min-width: $bp-1024) {
      order: 0;
      transform: translateY(5px);
    }
  }

  &__mail {
    display: inline-block;
    margin-bottom: 12px;
    font-weight: 600;
    font-size: 11px;
    letter-spacing: 0.06em;

    @media screen and (min-width: $bp-1024) {
      margin-bottom: 16px;
    }
  }

  &__socials {
    display: flex;
    gap: 17px;
    margin-bottom: 46px;
  }

  &__social-link {
    font-weight: 600;
    font-size: 11px;
    letter-spacing: 0.06em;
  }

  &__action {
    @media screen and (min-width: $bp-1024) {
      flex-basis: 100%;
    }
  }

  &__button {
    padding: 14px 50px;
    margin-bottom: 56px;
    font-weight: 600;
    font-size: 11px;
    letter-spacing: 0.06em;
    text-align: center;
    color: $color-dark;
    background-color: $color-bg;

    @media screen and (min-width: $bp-768) {
      margin-bottom: 99px;
    }

    @media screen and (min-width: $bp-1024) {
      margin-bottom: 118px;
    }

    @media screen and (min-width: $bp-1440) {
      padding: 14px 50px 17px;
      margin-bottom: 125px;
    }
  }

  &__bottom {
    padding-bottom: 24px;

    @media screen and (min-width: $bp-768) {
      display: flex;
      justify-content: space-between;
    }
  }

  &__copy {
    margin-bottom: 14px;
    color: #828282;
    font-weight: 300;
    font-size: 12px;
    line-height: 1.52375;
  }

  &__made {
    display: flex;
    gap: 20px;
    margin-left: 5px;
  }

  &__made-text {
    color: #828282;
    font-weight: 300;
    font-size: 12px;
    line-height: 1.52375;
  }

  &__brand {
    display: block;
    width: 94px;
    height: 23px;
    flex-shrink: 0;
    color: #fff;
    fill: currentColor;
    transform: translateY(-5px);

    @media screen and (min-width: $bp-1440) {
      transform: translateX(5px) translateY(-5px);
    }
  }
}

.page--main,
.page--contacts {
  .footer-container {
    background:
      radial-gradient(
        50% 50% at 50% 50%,
        rgba(15, 15, 15, 0.72) 0%,
        rgba(8, 8, 8, 0.9) 100%
      ),
      url("../../assets/images/footer/footer_background_375.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @media screen and (min-width: $bp-768) {
      background:
        radial-gradient(
          50% 50% at 50% 50%,
          rgba(15, 15, 15, 0.72) 0%,
          rgba(8, 8, 8, 0.9) 100%
        ),
        url("../../assets/images/footer/footer_background_768.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }

    @media screen and (min-width: $bp-1024) {
      background:
        radial-gradient(
          50% 50% at 50% 50%,
          rgba(15, 15, 15, 0.72) 0%,
          rgba(8, 8, 8, 0.9) 100%
        ),
        url("../../assets/images/footer/footer_background_1024.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }

    @media screen and (min-width: $bp-1440) {
      background:
        radial-gradient(
          50% 50% at 50% 50%,
          rgba(15, 15, 15, 0.72) 0%,
          rgba(8, 8, 8, 0.9) 100%
        ),
        url("../../assets/images/footer/footer_background_1440.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
  }
}
