@use "../utils/variables" as *;

.popup {
  position: fixed;
  inset: 0;
  z-index: 2000;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  overflow: auto;

  &.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  &__overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 1);
  }

  &__dialog {
    position: relative;
    z-index: 1;
    max-width: 87.2%;
    margin: 64px auto 0;
    background-color: $color-dark;

    @media screen and (min-width: $bp-768) {
      max-width: 72.66%;
      margin: 45px auto 0;
    }

    @media screen and (min-width: $bp-1024) {
      max-width: 78.9%;
      margin: 43px auto 0;
    }
  }

  &__close {
    cursor: pointer;
    fill: $color-white;
    position: absolute;
    top: -48px;
    right: -8px;
    z-index: 2;

    @media screen and (min-width: $bp-768) {
      top: -14px;
      right: -74px;
    }

    @media screen and (min-width: $bp-1024) {
      top: -9px;
      right: -74px;
    }
  }
}

.popup-request {
  &__title {
    font-weight: 700;
    font-size: 24px;
    color: $color-btn;

    margin: 0 auto 33px;
    max-width: 184px;
    transform: translateX(19px);

    @media screen and (min-width: $bp-768) {
      transform: translateX(5px);
    }

    @media screen and (min-width: $bp-1024) {
      grid-column: 1 / -1;
      margin: 0 auto;
      transform: none;
    }
  }

  &__input,
  &__textarea,
  &__select {
    font-weight: 500;
    font-size: 11px;
    letter-spacing: 0.06em;
    color: #313131;
    padding-bottom: 11px;
    margin-bottom: 35px;

    width: 100%;
    border: none;
    border-bottom: 1px solid #d9d9d9;
    background-color: transparent;
    outline: none;

    @media screen and (min-width: $bp-1024) {
      margin-bottom: 0;
    }
  }

  &__input::placeholder,
  &__textarea::placeholder {
    font-weight: 500;
    font-size: 11px;
    letter-spacing: 0.06em;
    color: $color-btn;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 8px;

    @media screen and (min-width: $bp-768) {
      background-color: $color-bg;
      padding: 32px 40px;
      gap: 6px;
    }

    @media screen and (min-width: $bp-1024) {
      padding: 32px 51px;
    }
  }

  &__top {
    background: $color-white;
    padding: 24px 22px 0;

    @media screen and (min-width: $bp-768) {
      padding: 45px 55px 0;
    }

    @media screen and (min-width: $bp-1024) {
      padding: 44px 50px;

      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 28px;
      row-gap: 32px;
    }
  }

  &__bottom {
    background: $color-white;
    padding: 42px 24px;

    @media screen and (min-width: $bp-768) {
      padding: 50px 56px;
    }

    @media screen and (min-width: $bp-1024) {
      padding: 44px 52px;
    }
  }

  &__area {
    margin: 0;
    padding: 0;
    border: none;
    margin-bottom: 24px;

    @media screen and (min-width: $bp-768) {
      margin-bottom: 36px;
    }
  }

  &__legend {
    margin: 0 0 24px;
    font-weight: 500;
    font-size: 11px;
    letter-spacing: 0.06em;
    color: $color-btn;

    @media screen and (min-width: $bp-1024) {
      margin: 0 0 22px;
    }
  }

  &__options {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 40px;
    row-gap: 25px;
    margin-left: -10px;

    @media screen and (min-width: $bp-768) {
      column-gap: 74px;
      row-gap: 30px;
    }

    @media screen and (min-width: $bp-1024) {
      display: flex;
      gap: 45px;
      transform: translateX(16px);
    }
  }

  &__option {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    position: relative;
  }

  &__option-text {
    font-weight: 500;
    font-size: 9px;
    letter-spacing: 0.06em;
    text-align: center;
    color: rgba(58, 62, 75, 0.45);
    white-space: nowrap;
  }

  &__radio {
    position: absolute;
    opacity: 0;
    pointer-events: none;
  }

  &__radio-mark {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #ececec;
    position: relative;
  }

  &__radio-mark::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    width: 67px;
    height: 1px;
    background: rgba(214, 214, 214, 0.3);
    transform: translateY(-50%);
  }

  &__option:nth-child(4n) .popup-request__radio-mark::after {
    display: none;
  }

  &__radio-mark::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #c4c4c4;
    transform: translate(-50%, -50%);
  }

  &__radio:checked + &__radio-mark {
    background-color: $color-btn;
  }

  &__radio:checked + &__radio-mark::before {
    background-color: $color-white;
  }

  &__submit {
    display: block;
    margin: 0 auto;

    font-weight: 600;
    font-size: 11px;
    letter-spacing: 0.06em;
    text-align: center;
    color: #fff;
    background: $color-btn;
    padding: 14px 34px 17px;

    @media screen and (min-width: $bp-1024) {
      padding: 14px 48px 17px;
    }
  }

  &__field {
    display: block;
  }

  &__field--textarea {
    @media screen and (min-width: $bp-1024) {
      grid-column: 1 / -1;
    }
  }
}
