// @use "../../utils/variables" as *;

// .blog-footer {
//   background-image: url("/src/assets/images/blog/blog-footer/news-footer-photo-375.png");
//   background-repeat: no-repeat;
//   background-size: cover;
//   color: $color-white;

//   @media screen and (min-width: $bp-768) {
//     background-image: url("/src/assets/images/blog/blog-footer/news-footer-photo-768.png");
//   }

//   @media screen and (min-width: $bp-1440) {
//     background-image: url("/src/assets/images/blog/blog-footer/news-footer-photo-1440.png");
//   }

//   &__container {
//     padding-block: 80px 24px;
//   }

//   &__inner {
//   }

//   &__content {
//   }

//   &__title {
//     font-weight: 700;
//     font-size: 26px;
//     line-height: 1.21923;
//     max-width: 292px;
//     margin-bottom: 24px;
//   }

//   &__text {
//     ont-weight: 300;
//     font-size: 14px;
//     line-height: 1.7066;
//     margin-bottom: 48px;
//   }

//   &__form {
//     margin-bottom: 80px;
//   }

//   &__field {
//   }

//   &__input {
//   }

//   &__submit {
//   }

//   &__submit-icon {
//   }

//   &__bottom {
//   }

//   &__copyright {
//   }

//   &__brand {
//   }

//   &__brand-text {
//   }

//   &__brand-logo {
//     fill: $color-white;
//   }
// }

@use "../../utils/variables" as *;

.blog-footer {
  background-image: url("/src/assets/images/blog/blog-footer/news-footer-photo-375.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: $color-white;

  @media screen and (min-width: $bp-768) {
    background-image: url("/src/assets/images/blog/blog-footer/news-footer-photo-768.png");
  }

  @media screen and (min-width: $bp-1440) {
    background-image: url("/src/assets/images/blog/blog-footer/news-footer-photo-1440.png");
  }

  &__container {
    padding-block: 80px 24px;
  }

  &__inner {
  }

  &__content {
  }

  &__title {
    max-width: 292px;
    margin-bottom: 24px;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.21923;
  }

  &__text {
    margin-bottom: 48px;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.7066;
  }

  &__form {
    margin-bottom: 80px;
  }

  &__field {
    position: relative;
    display: flex;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }

  &__input {
    width: 100%;
    padding: 0 0 14px 0;
    border: none;
    background-color: transparent;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.7;
    outline: none;

    &::placeholder {
      color: rgba(255, 255, 255, 0.7);
    }
  }

  &__submit {
    position: absolute;
    right: 0;
    bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 17px;
    height: 13px;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  &__submit-icon {
    display: block;
    width: 17px;
    height: 13px;
  }

  &__bottom {
  }

  &__copyright {
  }

  &__brand {
  }

  &__brand-text {
  }

  &__brand-logo {
    fill: $color-white;
  }
}
