@use "../../utils/variables" as *;

.blog-grid {
  &__list {
    @media screen and (min-width: $bp-768) {
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      gap: 6px;
    }
  }

  &__item {
    margin-bottom: 6px;

    @media screen and (min-width: $bp-768) {
      margin-bottom: 0;
      aspect-ratio: 1 / 1;
    }

    &_hidden {
      display: none;

      @media screen and (min-width: $bp-768) {
        display: block;
      }
    }

    &:first-child,
    &:last-child {
      .blog-card__text {
        display: none;
      }
    }

    &:first-child {
      .blog-card__text {
        @media screen and (min-width: $bp-1024) {
          display: block;
        }
      }
    }

    &:last-child {
      .blog-card__title {
        @media screen and (min-width: $bp-768) {
          transform: translateX(-5px) translateY(5px);
        }

        @media screen and (min-width: $bp-1024) {
          transform: translateX(-5px) translateY(-20px);
        }

        @media screen and (min-width: $bp-1440) {
          transform: translateX(-5px) translateY(0);
        }
      }

      .blog-card__text {
        @media screen and (min-width: $bp-1440) {
          display: block;
        }
      }
    }
  }
}

.blog-card {
  position: relative;

  @media screen and (min-width: $bp-768) {
    height: 100%;
  }

  &__link {
    display: block;
  }

  &__image {
    width: 100%;
    object-fit: cover;
  }

  &__content {
    padding: 20px 24px 24px;
    background-color: $color-surface;
  }

  &__title {
    margin-bottom: 24px;

    @media screen and (min-width: $bp-768) {
      max-width: 208px;
    }

    @media screen and (min-width: $bp-1024) {
      max-width: 273px;
    }

    @media screen and (min-width: $bp-1440) {
      max-width: 365px;
    }

    &_hidden {
      @media screen and (min-width: $bp-768) {
        display: none;
      }
    }
  }

  &__title-link {
    font-size: 16px;
    font-weight: 700;
    color: $color-dark;

    @media screen and (min-width: $bp-1024) {
      font-size: 20px;
    }

    @media screen and (min-width: $bp-1440) {
      font-size: 28px;
    }
  }

  &__text {
    display: none;
    max-width: 348px;
    margin-bottom: 40px;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.7066;
    color: $color-dark;
    opacity: 0.7;

    @media screen and (min-width: $bp-1440) {
      max-width: 433px;
      margin-bottom: 56px;
    }
  }

  &__break {
    display: none;

    @media screen and (min-width: $bp-768) {
      display: inline;
    }
  }

  &__discover {
    color: $color-dark;

    .btn-discover__line {
      background-color: rgba($color-dark, 0.4);
    }
  }

  &_overlay {
    .blog-card__link {
      position: relative;

      @media screen and (min-width: $bp-768) {
        height: 100%;
      }
    }

    .blog-card__image {
      @media screen and (min-width: $bp-768) {
        height: 100%;
      }
    }

    .blog-card__content {
      position: absolute;
      left: 8px;
      bottom: 0;
      z-index: 1;
      padding: 0 16px 18px;
      background-color: transparent;

      @media screen and (min-width: $bp-768) {
        left: 0;
        right: 0;
        padding: 0 32px 32px;
      }

      @media screen and (min-width: $bp-1024) {
        bottom: 6px;
        padding: 0 46px 46px;
      }

      @media screen and (min-width: $bp-1440) {
        padding: 0 56px 50px;
      }
    }

    .blog-card__title {
      margin-bottom: 0;
    }

    .blog-card__title-link {
      color: $color-white;
    }
  }

  &_discover {
    .blog-card__link {
      @media screen and (min-width: $bp-768) {
        display: none;
      }
    }

    .blog-card__content {
      @media screen and (min-width: $bp-768) {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 100%;
        padding: 34px 32px;
      }

      @media screen and (min-width: $bp-1024) {
        padding: 52px 46px;
      }

      @media screen and (min-width: $bp-1440) {
        padding: 56px 56px;
      }
    }

    .blog-card__title {
      @media screen and (min-width: $bp-768) {
        margin-bottom: 40px;
      }

      @media screen and (min-width: $bp-1024) {
        margin-bottom: 24px;
      }
    }
  }
}
