@use "../../utils/variables" as *;

.page--not-found {
  background-color: $color-dark;
  color: $color-white;
  min-height: 100vh;
  min-height: 100dvh;
}

.not-found-content {
  width: 100%;
  min-height: 100vh;
  min-height: 100dvh;

  @media screen and (min-width: $bp-768) {
  }

  @media screen and (min-width: $bp-1024) {
  }

  @media screen and (min-width: $bp-1440) {
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    min-height: 100vh;
    min-height: 100dvh;
    padding-top: 252px;
    padding-bottom: 24px;

    @media screen and (min-width: $bp-768) {
      padding-top: 447px;
    }

    @media screen and (min-width: $bp-1024) {
      padding-top: 319px;
    }

    @media screen and (min-width: $bp-1440) {
      padding-top: 364px;
    }
  }

  &__main {
    max-width: 100%;

    @media screen and (min-width: $bp-768) {
      padding-left: 137px;
    }
    @media screen and (min-width: $bp-1024) {
      padding-left: 156px;
    }

    @media screen and (min-width: $bp-1024) {
      padding-left: 208px;
    }
  }

  &__title {
    margin-bottom: 18px;
    font-weight: 700;
    font-size: 26px;
    color: $color-bg;

    @media screen and (min-width: $bp-768) {
      font-size: 32px;
      white-space: nowrap;
    }

    @media screen and (min-width: $bp-1024) {
    }

    @media screen and (min-width: $bp-1440) {
      font-size: 36px;
    }
  }

  &__text {
    margin-bottom: 32px;
    font-weight: 300;
    font-size: 14px;
    line-height: 171%;
    color: $color-white;
    opacity: 0.7;

    @media screen and (min-width: $bp-768) {
      max-width: 304px;
      white-space: nowrap;
    }

    @media screen and (min-width: $bp-1024) {
    }

    @media screen and (min-width: $bp-1440) {
    }
  }

  &__link {
    display: inline-flex;
    align-items: center;
    column-gap: 8px;

    font-weight: 700;
    font-size: 10px;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: $color-white;
    text-decoration: none;
  }

  &__link-line {
    display: block;
    flex-shrink: 0;
    height: 1px;
    background: rgba($color-white, 0.2);

    &:first-child {
      width: 8px;
    }

    &:last-child {
      width: 56px;
    }
  }

  &__link-text {
  }

  &__bottom {
    width: 100%;
    margin-top: auto;
    transform: translateY(12px);

    @media screen and (min-width: $bp-768) {
      display: flex;
      justify-content: space-between;
    }
  }

  &__copyright {
    font-weight: 300;
    font-size: 12px;
    line-height: 152%;
    color: #828282;
    margin-bottom: 16px;
  }

  &__made-with-love {
    display: flex;
    align-items: center;
    column-gap: 35px;
    transform: translateX(3px);

    @media screen and (min-width: $bp-768) {
      transform: translateX(-5px) translateY(-8px);

      @media screen and (min-width: $bp-1440) {
        transform: translateX(22px) translateY(-10px);
        gap: 20px;
      }
    }
  }

  &__made-with-love-text {
    flex-shrink: 0;
    font-weight: 300;
    font-size: 12px;
    line-height: 152%;
    color: #828282;
  }

  &__brand {
    display: flex;
    align-items: center;
    line-height: 0;
  }

  &__brand-icon {
    display: block;
    flex-shrink: 0;
    fill: $color-white;
  }
}
