@use "../../utils/variables" as *;

.page-projects .projects {
  background-color: $color-bg;
  color: $color-dark;
}

.page-projects {
  .header {
    @media screen and (min-width: $bp-768) {
      padding-left: 5px;

      &__menu-toggle {
        margin-left: 74px;
      }
    }

    @media screen and (min-width: $bp-1024) {
      padding-left: 0;
      padding-top: 32px;

      &__menu-toggle {
        margin-left: 97px;
      }
    }

    @media screen and (min-width: $bp-1440) {
      padding-top: 24px;

      &__menu-toggle {
        margin-left: 97px;
      }
    }

    &__logo-text,
    &__menu-text,
    &__link,
    &__lang-select,
    &__cta {
      color: $color-dark;
    }

    &__menu-icon {
      fill: $color-dark;
    }

    &__cta {
      border-color: $color-dark;
    }
  }
}

.projects-hero {
  &__container {
    padding-block: 36px 64px;

    @media screen and (min-width: $bp-768) {
      padding-block: 110px 96px;
      padding-inline: 124px;
    }

    @media screen and (min-width: $bp-1024) {
      padding-block: 92px 104px;
      padding-inline: 159px;
    }

    @media screen and (min-width: $bp-1440) {
      padding-block: 92px 124px;
      padding-inline: 197px;
    }
  }

  &__inner {
    @media screen and (min-width: $bp-1440) {
      display: grid;
      grid-template-columns: max-content max-content;
      grid-template-areas:
        "title text"
        ". categories";
      justify-content: space-between;
    }
  }

  &__content {
    @media screen and (min-width: $bp-1440) {
      display: contents;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 26px;
    margin-bottom: 20px;

    @media screen and (min-width: $bp-768) {
      font-size: 32px;
      margin-bottom: 18px;
    }

    @media screen and (min-width: $bp-1440) {
      grid-area: title;
      font-size: 36px;
      margin-bottom: 0;
    }
  }

  &__text {
    font-weight: 300;
    font-size: 14px;
    line-height: 1.7;
    margin-bottom: 24px;

    @media screen and (min-width: $bp-768) {
      margin-bottom: 30px;
    }

    @media screen and (min-width: $bp-1024) {
      max-width: 448px;
    }

    @media screen and (min-width: $bp-1440) {
      transform: translateX(-3px) translateY(-5px);
    }
  }

  &__text-break {
    display: none;

    @media screen and (min-width: $bp-1024) {
      display: block;
    }

    @media screen and (min-width: $bp-1440) {
      display: none;
    }
  }

  &__categories {
    @media screen and (min-width: $bp-1440) {
      grid-area: categories;
    }
  }

  &__select {
  }

  &__list {
    display: none;

    @media screen and (min-width: $bp-768) {
      display: flex;
      gap: 34px;
    }

    @media screen and (min-width: $bp-1440) {
      letter-spacing: 0.06em;
      gap: 32px;
      transform: translateX(-2px) translateY(-5px);
    }
  }

  &__item {
  }

  &__link {
    font-weight: 500;
    font-size: 11px;
    line-height: 1.7066;
  }

  &__link_active {
  }
}
