@use "../../utils/variables" as *;

.page-projects .projects {
  padding-bottom: 0;
}

.projects-cta {
  &__container {
    padding-block: 96px 24px;

    @media screen and (min-width: $bp-768) {
      padding-block: 104px 24px;
    }

    @media screen and (min-width: $bp-1024) {
      padding-block: 120px 24px;
    }

    @media screen and (min-width: $bp-1440) {
      padding-block: 109px 24px;
    }
  }

  &__inner {
  }

  //* ========== HANDLEBARS ==========

  &__content {
    .projects__bottom {
    }

    .projects__bottom-layout {
      transform: translateY(-100px);
    }

    .projects__bottom-title {
      margin: 0 0 16px;

      @media screen and (min-width: $bp-768) {
        margin: 0 auto 24px;
      }

      @media screen and (min-width: $bp-1024) {
        max-width: 361px;
      }
    }

    .projects__bottom-break {
      @media screen and (min-width: $bp-768) {
        display: none;
      }
    }

    .projects__bottom-collage {
      @media screen and (min-width: $bp-1440) {
        transform: translateX(-2px) translateY(-14px);
      }
    }

    .projects__bottom-collage-image {
    }

    .projects__bottom-content {
      transform: translateX(-151px) translateY(224px);
    }

    .projects__bottom-text {
    }

    .projects__bottom-action {
    }

    .projects__bottom-button {
      border: 1px solid #080808;
      margin-block: 40px 94px;
      padding: 14px 48px;

      @media screen and (min-width: $bp-768) {
        margin-block: 48px 110px;
      }

      @media screen and (min-width: $bp-1024) {
        margin-block: 64px 128px;
      }

      @media screen and (min-width: $bp-1440) {
        margin-block: 46px 0;
      }
    }
  }

  //* ====================

  &__bottom {
    font-weight: 300;
    font-size: 12px;
    line-height: 152%;
    color: #828282;

    @media screen and (min-width: $bp-768) {
      display: flex;
      justify-content: space-between;
    }

    @media screen and (min-width: $bp-1440) {
      padding-top: 194px;
    }
  }

  &__copyright {
    margin-bottom: 12px;
  }

  &__made-with {
    display: flex;
    gap: 30px;
    transform: translateX(5px);

    @media screen and (min-width: $bp-768) {
      transform: translateX(-9px) translateY(-2px);
    }

    @media screen and (min-width: $bp-1440) {
      transform: translateX(-1px) translateY(-2px);
    }
  }

  &__made-with-text {
  }

  &__logo {
    @media screen and (min-width: $bp-768) {
      transform: translateY(-5px);
    }
  }
}
