@use "../../utils/variables" as *;

.about-stats {
  padding-bottom: 80px;

  @media screen and (min-width: $bp-768) {
    padding-bottom: 104px;
  }

  &__inner {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: $bp-1440) {
      padding-left: 66px;
      flex-direction: row;
      gap: 132px;
    }
  }

  &__media {
    width: 100%;

    @media screen and (min-width: $bp-1440) {
      flex: 0 1 42%;
    }
  }

  &__image {
    display: block;
    width: 100%;
    height: auto;
  }

  &__content {
    width: 100%;

    @media screen and (min-width: $bp-1440) {
      flex: 1 1 48%;
      display: flex;
      flex-direction: column;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    gap: 31px;
    margin-top: 72px;
    padding-inline: 20px;

    @media screen and (min-width: $bp-768) {
      margin-top: 56px;
      padding-inline: 80px;
      row-gap: 48px;
    }

    @media screen and (min-width: $bp-1024) {
      flex-wrap: nowrap;
    }

    @media screen and (min-width: $bp-1440) {
      flex-wrap: wrap;
      align-content: flex-start;
      max-width: 55%;
      padding-inline: 0;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    flex: 0 1 40%;

    @media screen and (min-width: $bp-1440) {
      flex: 0 1 calc((100% - 31px) / 2);
    }
  }

  &__value {
    margin-bottom: 4%;
    font-weight: 700;
    font-size: 40px;
    line-height: 1;

    @media screen and (min-width: $bp-768) {
      margin-bottom: 8px;
      font-size: 56px;
    }
  }

  &__label {
    max-width: 76px;
    font-weight: 300;
    font-size: 11px;
    line-height: 132%;

    @media screen and (min-width: $bp-768) {
      max-width: 96px;
      font-size: 14px;
      line-height: 143%;
    }
  }

  &__bottom {
    @media screen and (min-width: $bp-768) {
      margin-top: 56px;
    }

    @media screen and (min-width: $bp-1440) {
      display: flex;
      gap: 112px;
    }
  }

  &__text {
    margin-top: 40px;
    font-weight: 300;
    font-size: 14px;
    line-height: 171%;

    @media screen and (min-width: $bp-768) {
      margin-top: 0;
      max-width: 82%;
      line-height: 175%;
      margin: 0 auto;
    }

    @media screen and (min-width: $bp-1440) {
      flex: 0 1 68%;
      max-width: 382px;
      margin: 0;
    }
  }

  &__extra {
    &_desktop {
      display: none;

      @media screen and (min-width: $bp-1440) {
        display: block;
        min-width: 168px;
        transform: translateX(62px);
      }
    }
  }

  &__extra-image {
    display: block;
    width: 100%;
    height: auto;
  }
}
