@use "../../utils/variables" as *;

.about-join {
  &__container {
    padding-block: 80px 24px;

    @media screen and (min-width: $bp-768) {
      padding-block: 100px 24px;
    }

    @media screen and (min-width: $bp-1440) {
      padding-block: 140px 24px;
    }
  }

  &__inner {
    @media screen and (min-width: $bp-768) {
      display: flex;
      flex-direction: column;
      min-height: 403px;
    }

    @media screen and (min-width: $bp-1440) {
      min-height: 384px;
    }
  }

  &__main {
    margin-bottom: 88px;

    @media screen and (min-width: $bp-768) {
      margin-bottom: 0;
    }

    @media screen and (min-width: $bp-1440) {
      display: grid;
      grid-template-columns: 470px 360px;
      column-gap: 190px;
      width: 845px;
      margin-bottom: 128px;
      padding-left: 140px;
    }
  }

  &__content {
    margin-bottom: 37px;

    @media screen and (min-width: $bp-768) {
      margin-bottom: 35px;
    }

    @media screen and (min-width: $bp-1440) {
      margin-bottom: 0;
    }
  }

  &__title {
    max-width: 290px;
    margin-bottom: 40px;

    font-weight: 700;
    font-size: 26px;
    line-height: 142%;

    @media screen and (min-width: $bp-768) {
      max-width: none;
      margin-bottom: 60px;
      font-size: 32px;
      line-height: 121%;
    }

    @media screen and (min-width: $bp-1440) {
      max-width: 396px;
      margin-bottom: 131px;
      font-size: 36px;
      line-height: 142%;
    }

    &-break {
      @media screen and (min-width: $bp-768) {
        display: none;
      }
    }
  }

  &__form {
    display: flex;
    align-items: center;
    gap: 12px;
    padding-bottom: 11px;
    border-bottom: 1px solid #515151;

    @media screen and (min-width: $bp-768) {
      width: 320px;
      padding-bottom: 12px;
    }

    @media screen and (min-width: $bp-1440) {
      align-items: flex-start;
      gap: 0;
      width: 382px;
      min-height: 35px;
      padding-bottom: 0;
    }
  }

  &__field {
    flex: 1 1 auto;
    min-width: 0;

    @media screen and (min-width: $bp-768) {
      flex: 1 1 auto;
    }

    @media screen and (min-width: $bp-1440) {
      display: flex;
      align-items: flex-start;
      min-width: 0;
    }
  }

  &__input {
    display: block;
    width: 100%;
    padding: 0;
    border: none;
    background-color: transparent;
    outline: none;

    font-weight: 300;
    font-size: 14px;
    line-height: 171%;

    @media screen and (min-width: $bp-768) {
      font-size: 14px;
      line-height: 171%;
    }

    @media screen and (min-width: $bp-1440) {
      height: 35px;
      font-size: 20px;
      line-height: 171%;
      color: $color-dark;
    }

    &::placeholder {
      opacity: 0.7;

      @media screen and (min-width: $bp-1440) {
        color: $color-dark;
        opacity: 0.7;
      }
    }
  }

  &__submit {
    flex-shrink: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 17px;
    height: 13px;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;

    @media screen and (min-width: $bp-768) {
      width: 17px;
      height: 13px;
    }

    @media screen and (min-width: $bp-1440) {
      width: 24px;
      height: 35px;
      margin-right: 0;
      margin-left: auto;
      align-items: center;
      justify-content: flex-end;
    }

    &-icon {
      @media screen and (min-width: $bp-1440) {
        width: 24px;
        height: 10px;
      }
    }
  }

  &__info {
    @media screen and (min-width: $bp-768) {
      max-width: 651px;
    }

    @media screen and (min-width: $bp-1024) {
      max-width: 936px;
    }

    @media screen and (min-width: $bp-1440) {
      max-width: 360px;
      padding-top: 193px;
    }
  }

  &__text {
    max-width: 311px;
    margin-bottom: 31px;

    font-weight: 300;
    font-size: 14px;
    line-height: 171%;

    @media screen and (min-width: $bp-768) {
      max-width: 651px;
      margin-bottom: 28px;
    }

    @media screen and (min-width: $bp-1024) {
      max-width: 936px;
    }

    @media screen and (min-width: $bp-1440) {
      max-width: 365px;
      margin-bottom: 21px;
    }
  }

  &__contacts {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media screen and (min-width: $bp-768) {
      justify-content: flex-start;
      gap: 179px;
    }
  }

  &__email {
    font-weight: 600;
    font-size: 11px;
    letter-spacing: 0.06em;
  }

  &__socials {
    display: flex;
    align-items: center;
    gap: 24px;

    @media screen and (min-width: $bp-1440) {
      gap: 16px;
    }

    &-link {
      font-weight: 600;
      font-size: 11px;
    }
  }

  &__bottom {
    display: flex;
    flex-direction: column;
    gap: 12px;

    @media screen and (min-width: $bp-768) {
      margin-top: auto;
      flex-direction: row;
      align-items: flex-end;
      justify-content: space-between;
    }
  }

  &__copyright {
    font-weight: 300;
    font-size: 12px;
    line-height: 152%;
  }

  &__brand-group {
    display: flex;
    align-items: flex-end;
    gap: 23px;
  }

  &__made {
    font-weight: 300;
    font-size: 12px;
    line-height: 152%;
  }

  &__brand {
    display: inline-flex;
    align-items: flex-start;
  }
}
