@use "../../utils/variables" as *;

.page--about {
  .header {
    padding-block: 21px;
    background-color: $color-bg;

    &__logo-text,
    &__menu-text,
    &__link,
    &__lang-select,
    &__cta {
      color: $color-dark;
    }

    &__menu-icon {
      fill: $color-dark;
    }

    &__cta {
      border-color: $color-dark;
    }

    &.header_scrolled {
      background-color: rgba($color-dark, 0.78);

      .header__logo-text,
      .header__menu-text,
      .header__link,
      .header__lang-select,
      .header__cta {
        color: $color-white;
      }

      .header__menu-icon {
        fill: $color-white;
      }

      .header__cta {
        border-color: $color-white;
      }
    }
  }
}

.about-hero {
  background-image: url("/src/assets/images/about/section1-hero-photo1-375.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media screen and (min-width: $bp-768) {
    background-image: url("/src/assets/images/about/section1-hero-photo1-768.png");
  }

  @media screen and (min-width: $bp-1024) {
    background-image: url("/src/assets/images/about/section1-hero-photo1-1024.png");
  }

  @media screen and (min-width: $bp-1440) {
    background-image: url("/src/assets/images/about/section1-hero-photo1-1440.png");
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    min-height: 100dvh;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 260px;
    margin: 0 auto;
    text-align: center;

    @media screen and (min-width: $bp-768) {
      max-width: 360px;
    }

    @media screen and (min-width: $bp-1024) {
      max-width: 420px;
    }

    @media screen and (min-width: $bp-1440) {
      max-width: 383px;
      transform: translateY(10px);
    }
  }

  &__title {
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 26px;
    color: $color-white;

    @media screen and (min-width: $bp-1024) {
      font-size: 32px;
    }

    @media screen and (min-width: $bp-1440) {
      font-size: 36px;
    }
  }

  &__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    color: $color-white;
  }
}
