<div class="burger-menu" id="burger-menu">
  <div class="burger-menu__overlay js-burger-close"></div>

  <div class="burger-menu__panel js-scroll-lock-scrollable">
    <div class="burger-menu__top">
      <a class="burger-menu__logo" href="/">
        <span class="burger-menu__logo-text">LOGO</span>
      </a>

      <div class="burger-menu__lang">
        <button class="burger-menu__lang-current js-lang-toggle" type="button">
          En
        </button>

        <div class="burger-menu__lang-menu">
          <button
            class="burger-menu__lang-option is-active js-lang-option"
            type="button"
            data-lang="en"
          >
            En
          </button>
          <button
            class="burger-menu__lang-option js-lang-option"
            type="button"
            data-lang="uk"
          >
            Ua
          </button>
        </div>
      </div>

      <button
        class="burger-menu__cta burger-menu__cta_top js-open-request"
        type="button"
      >
        Send Request
      </button>

      <button class="burger-menu__close js-burger-close" type="button">
        <svg class="burger-menu__close-icon" width="39" height="39">
          <use href="/src/assets/icons/sprite.svg#icon-close"></use>
        </svg>
      </button>
    </div>

    <div class="burger-menu__main">
      <nav class="burger-menu__nav" aria-label="Burger menu navigation">
        <ul class="burger-menu__list">
          <li class="burger-menu__item">
            <a class="burger-menu__link js-burger-link" href="/">Home</a>
          </li>
          <li class="burger-menu__item">
            <a
              class="burger-menu__link js-burger-link"
              href="/pages/projects.html"
              >Projects</a
            >
          </li>
          <li class="burger-menu__item">
            <a class="burger-menu__link js-burger-link" href="/pages/about.html"
              >About us</a
            >
          </li>
          <li class="burger-menu__item">
            <a class="burger-menu__link js-burger-link" href="/pages/blog.html"
              >Blog</a
            >
          </li>
          <li class="burger-menu__item">
            <a
              class="burger-menu__link js-burger-link"
              href="/pages/contacts.html"
              >Contacts</a
            >
          </li>
        </ul>
      </nav>

      <button
        class="burger-menu__cta burger-menu__cta_main js-open-request"
        type="button"
      >
        Send Request
      </button>
    </div>

    <div class="burger-menu__footer">
      {{> partials/base/bottom-nav class="burger-menu__bottom-nav"}}
    </div>
  </div>
</div>
