<div class="burger-menu" id="burger-menu">
  <div class="burger-menu__overlay js-burger-close"></div>

  <div class="burger-menu__panel">
    <div class="burger-menu__top">
      <a class="burger-menu__logo" href="/">
        <span class="burger-menu__logo-text">LOGO</span>
      </a>

      <div class="burger-menu__lang">
        <button class="burger-menu__lang-current js-lang-toggle" type="button">
          En
        </button>

        <div class="burger-menu__lang-menu">
          <button
            class="burger-menu__lang-option is-active js-lang-option"
            type="button"
            data-lang="en"
          >
            En
          </button>
          <button
            class="burger-menu__lang-option js-lang-option"
            type="button"
            data-lang="uk"
          >
            Ua
          </button>
        </div>
      </div>

      <button
        class="burger-menu__cta burger-menu__cta_top js-open-request"
        type="button"
      >
        Send Request
      </button>

      <button class="burger-menu__close js-burger-close" type="button">
        <svg class="burger-menu__close-icon" width="39" height="39">
          <use href="/src/assets/icons/sprite.svg#icon-close"></use>
        </svg>
      </button>
    </div>

    <div class="burger-menu__main">
      <nav class="burger-menu__nav" aria-label="Burger menu navigation">
        <ul class="burger-menu__list">
          <li class="burger-menu__item">
            <a
              class="burger-menu__link burger-menu__link_current js-burger-link"
              href="/"
              >Home</a
            >
          </li>
          <li class="burger-menu__item">
            <a
              class="burger-menu__link js-burger-link"
              href="/pages/projects.html"
              >Projects</a
            >
          </li>
          <li class="burger-menu__item">
            <a class="burger-menu__link js-burger-link" href="/pages/about.html"
              >About us</a
            >
          </li>
          <li class="burger-menu__item">
            <a class="burger-menu__link js-burger-link" href="/pages/blog.html"
              >Blog</a
            >
          </li>
          <li class="burger-menu__item">
            <a
              class="burger-menu__link js-burger-link"
              href="/pages/contacts.html"
              >Contacts</a
            >
          </li>
        </ul>
      </nav>

      <button
        class="burger-menu__cta burger-menu__cta_main js-open-request"
        type="button"
      >
        Send Request
      </button>
    </div>

    <div class="burger-menu__footer">
      <div class="burger-menu__social">
        <a
          class="burger-menu__social-link"
          href="#"
          target="_blank"
          rel="noopener"
          >Fb</a
        >
        <a
          class="burger-menu__social-link"
          href="#"
          target="_blank"
          rel="noopener"
          >In</a
        >
        <a
          class="burger-menu__social-link"
          href="#"
          target="_blank"
          rel="noopener"
          >Be</a
        >
      </div>

      <button class="burger-menu__city" type="button">
        <span class="burger-menu__city-icon" aria-hidden="true">
          <svg
            width="8"
            height="10"
            viewBox="0 0 8 10"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M3.62162 0C1.62465 0 0 1.62465 0 3.6216C0 6.09988 3.241 9.73815 3.37898 9.89182C3.50859 10.0362 3.73488 10.0359 3.86426 9.89182C4.00225 9.73815 7.24324 6.09988 7.24324 3.6216C7.2432 1.62465 5.61857 0 3.62162 0ZM3.62162 5.44373C2.61689 5.44373 1.79951 4.62633 1.79951 3.6216C1.79951 2.61688 2.61691 1.79949 3.62162 1.79949C4.62633 1.79949 5.44371 2.61689 5.44371 3.62162C5.44371 4.62635 4.62633 5.44373 3.62162 5.44373Z"
              fill="white"
            />
          </svg>
        </span>

        <span class="burger-menu__city-text">Berlin</span>

        <span class="burger-menu__city-arrow" aria-hidden="true">
          <svg
            width="8"
            height="5"
            viewBox="0 0 8 5"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M7.49512 0.494873L3.99512 3.99487L0.495117 0.494873"
              stroke="white"
              stroke-width="1.4"
            />
          </svg>
        </span>
      </button>

      <div class="burger-menu__contacts">
        <a class="burger-menu__phone" href="tel:+380935705222">+380935705222</a>
        <a class="burger-menu__email" href="mailto:info@hi-light.pl"
          >info@hi-light.pl</a
        >
      </div>
    </div>
  </div>
</div>
