<footer class="footer">
  <div class="container footer-container">
    <div class="footer__inner">
      <div class="footer__content">
        <div class="footer__top">
          <h2 class="footer__title">Get in touch</h2>

          <p class="footer__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
            ullamcorper eu mauris vitae posuere.
          </p>
        </div>

        <div class="footer__locations">
          <div class="footer__location">
            <h3 class="footer__city">Kyiv</h3>

            <a class="footer__link" href="tel:2095550104">(209) 555-0104</a>

            <address class="footer__address">
              6391 Elgin St. Celina,<br />
              Delaware 10299
            </address>
          </div>

          <div class="footer__location">
            <h3 class="footer__city">Lviv</h3>

            <a class="footer__link" href="tel:2095550104">(209) 555-0104</a>

            <address class="footer__address">
              6391 Elgin St. Celina,<br />
              Delaware 10299
            </address>
          </div>

          <div class="footer__location footer__location_full">
            <h3 class="footer__city">Kharkiv</h3>

            <a class="footer__link" href="tel:2095550104">(209) 555-0104</a>

            <address class="footer__address">
              6391 Elgin St. Celina,<br />
              Delaware 10299
            </address>
          </div>
        </div>

        <div class="footer__contacts-wrap">
          <div class="footer__contacts">
            <a class="footer__mail" href="mailto:info@gmail.com"
              >info@gmail.com</a
            >

            <ul class="footer__socials">
              <li class="footer__social-item">
                <a
                  class="footer__social-link"
                  href="#"
                  target="_blank"
                  rel="noopener noreferrer"
                  >Fb</a
                >
              </li>
              <li class="footer__social-item">
                <a
                  class="footer__social-link"
                  href="#"
                  target="_blank"
                  rel="noopener noreferrer"
                  >In</a
                >
              </li>
              <li class="footer__social-item">
                <a
                  class="footer__social-link"
                  href="#"
                  target="_blank"
                  rel="noopener noreferrer"
                  >Be</a
                >
              </li>
            </ul>
          </div>

          <div class="footer__action">
            <button class="footer__button js-open-request" type="button">
              Make request
            </button>
          </div>
        </div>
      </div>

      <div class="footer__bottom">
        <p class="footer__copy">© Copyright 2018. All rights reserved</p>

        <div class="footer__made">
          <span class="footer__made-text">Made with love in</span>

          <svg class="footer__brand" aria-hidden="true">
            <use href="/src/assets/icons/sprite.svg#icon-first_last"></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
</footer>
