<header class="header">
  <div class="container header__container">
    <a class="header__logo" href="/">
      <span class="header__logo-text">LOGO</span>
    </a>

    <button class="header__menu-toggle js-burger-open" type="button">
      <svg class="header__menu-icon" width="28" height="8">
        <use href="/src/assets/icons/sprite.svg#icon-burger"></use>
      </svg>
      <span class="header__menu-text">Menu</span>
    </button>

    <nav class="header__nav">
      <ul class="header__menu">
        <li class="header__item">
          <a class="header__link" href="/pages/projects.html">Projects</a>
        </li>
        <li class="header__item">
          <a class="header__link" href="/pages/about.html">About us</a>
        </li>
        <li class="header__item">
          <a class="header__link" href="/pages/blog.html">Blog</a>
        </li>
        <li class="header__item">
          <a class="header__link" href="/pages/contacts.html">Contacts</a>
        </li>
      </ul>
    </nav>

    <div class="header__controls">
      <div class="header__lang">
        <select class="header__lang-select" name="language">
          <option value="en" selected>En</option>
          <option value="uk">Ua</option>
        </select>
      </div>

      <button class="header__cta js-open-request" type="button">
        Send Request
      </button>
    </div>
  </div>
</header>
