<header class="header">
  <div class="header__container">
    <a class="header__logo" href="/" aria-label="Interior Studio">
      <span class="header__logo-text">LOGO</span>
    </a>

    <nav class="header__nav" aria-label="Primary navigation">
      <ul class="header__menu">
        <li class="header__item">
          <a class="header__link" href="/pages/projects.html">Projects</a>
        </li>
        <li class="header__item">
          <a class="header__link" href="/pages/about.html">About us</a>
        </li>
        <li class="header__item">
          <a class="header__link" href="/pages/blog.html">Blog</a>
        </li>
        <li class="header__item">
          <a class="header__link" href="/pages/contacts.html">Contacts</a>
        </li>
      </ul>
    </nav>

    <div class="header__actions">
      <span class="header__lang" lang="en">En</span>

      <button class="header__cta js-open-request" type="button">
        Send Request
      </button>
    </div>
  </div>
</header>
