<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<title>Interior Studio</title>

<link rel="dns-prefetch" href="https://fonts.googleapis.com" />
<link rel="dns-prefetch" href="https://fonts.gstatic.com" />
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

<link
  href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Roboto:wght@400&display=swap"
  rel="preload"
  as="style"
  crossorigin
/>
<link
  href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Roboto:wght@400&display=swap"
  rel="stylesheet"
  media="print"
  onload="this.media = 'all'"
/>
<noscript>
  <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Roboto:wght@400&display=swap"
    rel="stylesheet"
  />
</noscript>

<link rel="stylesheet" href="/src/scss/main.scss" />
