.hero {
  min-height: 100vh;
  background-image: url("/src/assets/images/main/section_hero/section1-hero-photo1-375.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
