@use "../../utils/variables" as *;

.lorem {
  position: relative;
  overflow: hidden;
  background-color: #c4c4c4;
  aspect-ratio: 375 / 675;

  @media screen and (min-width: $bp-768) {
    aspect-ratio: 768 / 831;
  }

  @media screen and (min-width: $bp-1024) {
    aspect-ratio: 1024 / 790;
  }

  @media screen and (min-width: $bp-1440) {
    aspect-ratio: 1440 / 814;
  }

  &__collage {
    position: absolute;
    inset: 0;
    z-index: 1;
    pointer-events: none;
  }

  &__photo {
    position: absolute;
    display: block;
    line-height: 0;
    width: 100%;
    max-width: 0;
  }

  &__photo_1 {
    top: 14.519%;
    left: -23.467%;
    max-width: 41.867%;
    z-index: 1;

    @media screen and (min-width: $bp-768) {
      top: 23.827%;
      left: -21.224%;
      max-width: 32.422%;
    }

    @media screen and (min-width: $bp-1024) {
      top: 27.848%;
      left: -23.242%;
      max-width: 28.809%;
    }

    @media screen and (min-width: $bp-1440) {
      top: 22.604%;
      left: -9.792%;
      max-width: 24.167%;
    }
  }

  &__photo_2 {
    top: 5.481%;
    left: 14.133%;
    max-width: 32.533%;

    @media screen and (min-width: $bp-768) {
      top: 13.718%;
      left: 5.208%;
      max-width: 25.26%;
    }

    @media screen and (min-width: $bp-1024) {
      top: 14.937%;
      left: 0.391%;
      max-width: 22.461%;
    }

    @media screen and (min-width: $bp-1440) {
      top: 7.617%;
      left: 10%;
      max-width: 18.819%;
    }
  }

  &__photo_3 {
    top: 16.593%;
    right: -25.067%;
    max-width: 46.133%;
    z-index: 1;

    @media screen and (min-width: $bp-768) {
      top: -3.369%;
      right: 11.589%;
      max-width: 35.807%;
    }

    @media screen and (min-width: $bp-1024) {
      top: -7.215%;
      right: 26.855%;
      max-width: 28.809%;
    }

    @media screen and (min-width: $bp-1440) {
      top: -17.69%;
      right: 22.153%;
      max-width: 24.167%;
    }
  }

  &__photo_4 {
    top: 20%;
    right: -20%;
    max-width: 38.933%;

    @media screen and (min-width: $bp-768) {
      top: 16.246%;
      right: -9.766%;
      max-width: 27.865%;
    }

    @media screen and (min-width: $bp-1024) {
      top: 14.937%;
      right: 9.766%;
      max-width: 22.461%;
    }

    @media screen and (min-width: $bp-1440) {
      top: 7.617%;
      right: 7.708%;
      max-width: 18.819%;
    }
  }

  &__photo_5 {
    top: 61.185%;
    right: -37.867%;
    max-width: 53.067%;

    @media screen and (min-width: $bp-768) {
      top: 58.243%;
      right: -32.812%;
      max-width: 41.276%;
    }

    @media screen and (min-width: $bp-1024) {
      top: 53.797%;
      right: -14.844%;
      max-width: 33.301%;
    }

    @media screen and (min-width: $bp-1440) {
      top: 52.826%;
      right: -6.111%;
      max-width: 27.917%;
    }
  }

  &__photo_6 {
    bottom: -1.926%;
    right: 10.133%;
    max-width: 28.267%;

    @media screen and (min-width: $bp-768) {
      bottom: -2.768%;
      right: 20.573%;
      max-width: 22.005%;
    }

    @media screen and (min-width: $bp-1024) {
      bottom: -0.506%;
      right: 29.785%;
      max-width: 17.773%;
    }

    @media screen and (min-width: $bp-1440) {
      bottom: -5.774%;
      right: 31.458%;
      max-width: 14.861%;
    }
  }

  &__photo_7 {
    bottom: 21.333%;
    right: 65.867%;
    max-width: 28.267%;

    @media screen and (min-width: $bp-768) {
      bottom: 7.581%;
      left: 5.99%;
      max-width: 29.297%;
    }

    @media screen and (min-width: $bp-1024) {
      bottom: 11.139%;
      left: 5.664%;
      max-width: 23.73%;
    }

    @media screen and (min-width: $bp-1440) {
      bottom: 7.494%;
      left: 19.444%;
      max-width: 19.792%;
    }
  }

  &__photo_8 {
    bottom: 10.222%;
    left: -15.467%;
    max-width: 38.933%;

    @media screen and (min-width: $bp-768) {
      display: none;
    }

    @media screen and (min-width: $bp-1440) {
      display: block;
      bottom: -11.057%;
      left: -8.819%;
      max-width: 18.819%;
    }
  }

  &__image {
    display: block;
    width: 100%;
    height: auto;
  }

  &__content {
    position: absolute;
    top: 52%;
    left: 50%;
    z-index: 2;
    width: 76.267%;
    max-width: 286px;
    text-align: center;
    transform: translate(-50%, -50%);

    @media screen and (min-width: $bp-768) {
      display: flex;
      flex-direction: column;
      align-items: center;
      top: 51%;
      max-width: 390px;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 1.03;
    color: $color-dark;
    margin-bottom: 18px;

    @media screen and (min-width: $bp-768) {
      font-size: 44px;
      margin-bottom: 24px;
    }

    @media screen and (min-width: $bp-1024) {
      font-size: 48px;
      margin-bottom: 21px;
    }

    @media screen and (min-width: $bp-1440) {
      font-size: 56px;
      margin-bottom: 18px;
    }
  }

  &__title_mobile {
    display: block;

    @media screen and (min-width: $bp-768) {
      display: none;
    }
  }

  &__title_desktop {
    display: none;

    @media screen and (min-width: $bp-768) {
      display: block;
    }
  }

  &__text {
    font-weight: 300;
    font-size: 14px;
    line-height: 1.7;
    color: $color-dark;
    opacity: 0.6;
    width: 100%;
  }
}
