@use "../../utils/variables" as *;

.philosophy {
  padding-top: 80px;
  padding-bottom: 64px;

  @media screen and (min-width: $bp-768) {
    padding-top: 104px;

    .philosophy-container {
      padding-inline: 124px;
    }
  }

  @media screen and (min-width: $bp-1024) {
    padding-top: 180px;

    .philosophy-container {
      padding-inline: 159px;
      padding-right: 0;
    }
  }

  @media screen and (min-width: $bp-1440) {
    padding-top: 221px;

    .philosophy-container {
      padding-inline: 198px;
      padding-right: 0;
    }
  }

  &__inner {
    @media screen and (min-width: $bp-1024) {
      position: relative;
      min-height: 711px;
    }

    @media screen and (min-width: $bp-1440) {
      min-height: 860px;
    }
  }

  &__content {
    @media screen and (min-width: $bp-1024) {
      width: 60.42%;
      max-width: 551px;
    }

    @media screen and (min-width: $bp-1440) {
      width: 41.98%;
      max-width: 551px;
    }
  }

  &__title {
    margin-bottom: 19px;
    font-weight: 700;
    font-size: 26px;
    line-height: 1;
    color: $color-dark;

    @media screen and (min-width: $bp-768) {
      font-size: 32px;
    }

    @media screen and (min-width: $bp-1440) {
      margin-bottom: 32px;
      font-size: 36px;
    }
  }

  &__text {
    @media screen and (min-width: $bp-1024) {
      max-width: 551px;
    }
  }

  &__paragraph {
    margin-bottom: 12px;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.7066;
    color: $color-dark;

    &:last-child {
      margin-bottom: 0;
    }

    @media screen and (min-width: $bp-1024) {
      max-width: 448px;
    }

    @media screen and (min-width: $bp-1440) {
      max-width: 515px;
    }
  }

  &__break-1024 {
    display: none;

    @media screen and (min-width: $bp-1024) {
      display: block;
    }

    @media screen and (min-width: $bp-1440) {
      display: none;
    }
  }

  &__discover {
    margin-top: 34px;
    margin-bottom: 80px;
    color: $color-dark;

    .btn-discover__label {
      color: $color-dark;
    }

    .btn-discover__line {
      background-color: rgba(49, 49, 49, 0.4);
    }

    @media screen and (min-width: $bp-1024) {
      margin-top: 40px;
      margin-bottom: 0;
    }

    @media screen and (min-width: $bp-1440) {
      margin-top: 60px;
    }
  }

  &__media {
    position: relative;
    width: 100%;
    margin-bottom: 75px;
    aspect-ratio: 324 / 286;

    @media screen and (min-width: $bp-768) {
      aspect-ratio: 520 / 355;
      margin-bottom: 96px;
    }

    @media screen and (min-width: $bp-1024) {
      aspect-ratio: auto;
      min-height: 451px;
      margin-top: 96px;
      margin-bottom: 0;
    }

    @media screen and (min-width: $bp-1440) {
      min-height: 650px;
      margin-top: 104px;
    }
  }

  &__image {
    &_primary {
      position: relative;
      z-index: 2;
      width: 80%;
      margin-left: auto;

      @media screen and (min-width: $bp-768) {
        top: -12px;
        left: 2px;
        width: 74%;
      }

      @media screen and (min-width: $bp-1024) {
        position: absolute;
        top: 0;
        left: 155px;
        width: 190px;
        margin-left: 0;
      }

      @media screen and (min-width: $bp-1440) {
        top: 35px;
        left: 238px;
        width: 279px;
      }
    }

    &_secondary {
      position: absolute;
      top: 41%;
      left: 0;
      z-index: 1;
      width: 40%;

      @media screen and (min-width: $bp-768) {
        top: 36%;
        width: 29.42%;
      }

      @media screen and (min-width: $bp-1024) {
        top: 98px;
        width: 190px;
      }

      @media screen and (min-width: $bp-1440) {
        top: 160px;
        width: 316px;
      }
    }

    &_tertiary {
      display: none;

      @media screen and (min-width: $bp-1024) {
        position: absolute;
        top: -502px;
        right: 0;
        z-index: 1;
        display: block;
        width: 349px;
      }

      @media screen and (min-width: $bp-1440) {
        top: -525px;
        right: 0;
        width: 513px;
      }
    }
  }

  &__quote {
    display: flex;
    align-items: flex-start;
    gap: 29px;

    @media screen and (min-width: $bp-768) {
      // width: 100%;
      // max-width: 319px;
      margin-left: 201px;
      transform: translateY(-117px);
      gap: 16px;
    }

    @media screen and (min-width: $bp-1024) {
      position: absolute;
      top: 600px;
      left: 366px;
      margin-left: 0;
      transform: none;
      gap: 22px;
    }

    @media screen and (min-width: $bp-1440) {
      top: 755px;
      left: 600px;
      // max-width: 380px;
      gap: 32px;
    }
  }

  &__quote-icon {
    flex-shrink: 0;
    width: 13px;
    height: 31px;

    @media screen and (min-width: $bp-1024) {
      width: 10px;
      height: 24px;
    }

    @media screen and (min-width: $bp-1440) {
      width: 18px;
      height: 44px;
    }
  }

  &__quote-text {
    margin: 0;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.7066;
    color: $color-dark;

    @media screen and (min-width: $bp-1024) {
      max-width: 315px;
    }

    @media screen and (min-width: $bp-1440) {
      font-size: 20px;
      max-width: 380px;
    }
  }
}
