@use "sass:list";
@use "../../utils/variables" as *;

.projects {
  &__bottom {
    @media screen and (min-width: $bp-1440) {
      margin-top: 10px;
    }
  }

  &__bottom-layout {
    @media screen and (min-width: $bp-1440) {
      display: grid;
      grid-template-columns: 360px 1fr 320px;
      align-items: center;
      column-gap: 48px;
      min-height: 420px;
    }
  }

  &__bottom-title {
    margin-top: 96px;
    margin-bottom: 24px;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.21154;
    @media screen and (min-width: $bp-768) {
      max-width: 443px;
      margin: 126px auto 24px;
      font-size: 32px;
      line-height: 1.424;
      text-align: center;
    }
    @media screen and (min-width: $bp-1024) {
      margin-top: 132px;
    }
    @media screen and (min-width: $bp-1440) {
      z-index: 10;
      min-width: 424px;
      min-height: 154px;
      margin: 0;
      max-width: 424px;
      font-size: 36px;
      text-align: left;
      transform: translate(135px, 42px);
    }
  }

  &__bottom-break {
    @media screen and (min-width: $bp-1440) {
      display: none;
    }
  }

  &__bottom-text {
    font-size: 14px;
    font-weight: 300;
    line-height: 1.7066;
    @media screen and (min-width: $bp-768) {
      max-width: 455px;
      margin: 0 auto;
      text-align: center;
    }
    @media screen and (min-width: $bp-1440) {
      min-width: 340px;
      margin: 0;
      text-align: left;
    }
  }

  &__bottom-content {
    @media screen and (min-width: $bp-1440) {
      max-width: 320px;
      z-index: 10;
      transform: translateX(-150px) translateY(235px);
    }
  }

  &__bottom-action {
    @media screen and (min-width: $bp-768) {
      display: flex;
      justify-content: center;
    }
    @media screen and (min-width: $bp-1440) {
      justify-content: flex-start;
    }
  }

  &__bottom-button {
    margin-top: 40px;
    margin-left: 1px;
    padding: 14px 50px;
    background-color: $color-white;
    color: $color-dark;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 0.06em;
    text-align: center;
    @media screen and (min-width: $bp-768) {
      margin-top: 48px;
    }
    @media screen and (min-width: $bp-1024) {
      margin-top: 66px;
    }
    @media screen and (min-width: $bp-1440) {
      margin-top: 48px;
      margin-left: 0;
    }
  }

  &__bottom-collage {
    display: none;
    @media screen and (min-width: $bp-1440) {
      $collage-items: (
        1: (
          translate(0, 175.74px) rotate(-6deg),
          1,
        ),
        2: (
          translate(53px, 165px),
          2,
        ),
        3: (
          translate(105.67px, 151.63px) rotate(-6deg),
          3,
        ),
        4: (
          translate(160px, 130px) rotate(-2deg),
          4,
        ),
        5: (
          translate(225px, 95px) rotate(-11deg),
          5,
        ),
        6: (
          translate(264px, 83.73px) rotate(-6deg),
          6,
        ),
        7: (
          translate(317px, 73px),
          7,
        ),
        8: (
          translate(369.67px, 59.62px) rotate(-6deg),
          8,
        ),
        9: (
          translate(425px, 35px) rotate(-2deg),
          9,
        ),
        10: (
          translate(490px, 8px) rotate(-11deg),
          10,
        ),
      );

      position: relative;
      display: block;
      width: 100%;
      height: 340px;

      &-image {
        position: absolute;
        top: 80px;
        left: -120px;

        object-fit: cover;
        box-shadow: 0 14px 36px rgba($color-black, 0.45);

        @each $idx, $item in $collage-items {
          &--#{$idx} {
            transform: list.nth($item, 1);
            z-index: list.nth($item, 2);
          }
        }
      }
    }
  }
}
