<div class="share-social">
  <p class="share-social__title">Share:</p>

  <ul class="share-social__list">
    <li class="share-social__item">
      <a
        class="share-social__link share-social__link_facebook"
        href="#"
        aria-label="Share on Facebook"
      >
        <svg class="share-social__icon" width="24" height="24">
          <use href="/src/assets/icons/sprite.svg#icon-facebook"></use>
        </svg>
      </a>
    </li>

    <li class="share-social__item">
      <a
        class="share-social__link share-social__link_twitter"
        href="#"
        aria-label="Share on Twitter"
      >
        <svg class="share-social__icon" width="24" height="24">
          <use href="/src/assets/icons/sprite.svg#icon-twitter"></use>
        </svg>
      </a>
    </li>

    <li class="share-social__item">
      <a
        class="share-social__link share-social__link_linkedin"
        href="#"
        aria-label="Share on LinkedIn"
      >
        <svg class="share-social__icon" width="24" height="24">
          <use href="/src/assets/icons/sprite.svg#icon-linkedin"></use>
        </svg>
      </a>
    </li>

    <li class="share-social__item">
      <a
        class="share-social__link share-social__link_share"
        href="#"
        aria-label="Copy link"
      >
        <svg class="share-social__icon" width="24" height="24">
          <use href="/src/assets/icons/sprite.svg#icon-share"></use>
        </svg>
      </a>
    </li>
  </ul>
</div>
